.App {
  display: grid;
  grid-template-areas: "header header" "main main" "footer footer";
  grid-template-rows: 100px 1fr 100px;
  height: 100vh;
}

.HeaderBar {
  background-color: red;
  grid-area: header;
}

.Mainpage {
  background-color: blue;
  grid-area: main;
  overflow: scroll;
}

.Footer {
  grid-area: footer;
  background-color: green;
}
