.App {
  display: grid;
  grid-template-areas: "header header" "main main" "footer footer";
  grid-template-rows: auto 1fr 50px;
  height: 100vh;
  text-decoration: none;
}

.HeaderBar {
  background-color: rgba(80, 207, 217, 1);
  grid-area: header;
  padding: 5px;
}

.Nav {
  grid-area: header;
  display: grid;
  grid-template-areas: "add title menu";
  grid-template-columns: 30% auto 30%;
  text-decoration: none;
}

.Account {
  grid-area: add;
  font-size: small;
}

.Title {
  grid-area: title;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.Link {
  text-decoration: none;
}

.TopArticles {
  display: flex;
  justify-content: center;
}

.PostArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Mainpage {
  background: linear-gradient(
    rgba(80, 207, 217, 1) 0%,
    rgba(84, 144, 227, 1) 100%
  );
  grid-area: main;
  overflow-y: scroll;
  text-decoration: none;
}

.Footer {
  grid-area: footer;
  background-color: rgba(84, 144, 227, 1);
}

.ArticleSort {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Form {
  display: flex;
  flex-shrink: 1;
  margin: 15px;
  border-radius: 100%;
  justify-content: center;
}

.Card {
  display: grid;
  grid-template-areas: "ACTop" "ACHeader" "ACMain" "ACFooter";
  grid-template-rows: auto auto auto auto;
  border-radius: 10px;
  background-color: white;
  list-style: none;
  text-decoration: none;
  text-align: left;
  color: #cc55bd;
  margin: 20px 20px 20px 20px;
  padding: 15px 5px 5px 5px;
  box-shadow: 5px 5px 5px 0px rgba(130, 130, 130, 1);
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.CommentsTitle {
  margin: 15px;
}

.ACTop {
  grid-area: ACTop;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: small;
  text-decoration: none;
}

.ACHeader {
  grid-area: ACHeader;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.ACMain {
  grid-area: ACMain;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.ACFooter {
  grid-area: ACFooter;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-evenly;
  align-items: center;
}

.HomepageButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Voter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-height: 30px;
  text-align: center;
}
.gol {
  border-radius: 100px;
}

.UpArrow {
  background-image: url("./images/arrow.png");
  background-size: 40px;
  height: 38px;
  width: 40px;
  transform: rotate(180deg);
}

.DownArrow {
  background-image: url("./images/arrow.png");
  background-size: 100%;
  height: 38px;
  width: 40px;
}

.ClockLogo {
  background-image: url("./images/clock.png");
  background-size: 40px;
  height: 38px;
  width: 40px;
}

.VotesLogo {
  background-image: url("./images/likes.png");
  background-size: 100%;
  height: 42px;
  width: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.Error {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x {
  grid-area: ACTop;
  background-image: url("./images/x.png");
  background-size: 105%;
  height: 50px;
  width: 50px;
}

.CommentsLogo {
  background-image: url("./images/comments.png");
  background-size: 45px;
  height: 42px;
  width: 46px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

.FooterDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lds-roller {
  display: inline-block;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: white;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
